extends layout

block content
  h1= title
  p Welcome to #{title}

  // re-style the header to left-align
  style table.dataTable thead th { text-align: left }
  
  p 
    For information about the Menmonic Major System, visit: -
    ul
      li
        a(href='http://mt.artofmemory.com/wiki/Major_System') Memory Techniques Wiki page
      li
        a(href='https://en.wikipedia.org/wiki/Mnemonic_major_system') Wikipedia entry

  hr
  h2 Pi Digits (up to 1000)
  
  script(src="/javascripts/jquery.min.js")
  script(src="/javascripts/jquery.dataTables.min.js")
  //- here we take the pitab local unescaped...
  script.
    var pitab = !{pitab};

  script(src="/javascripts/format_the_pi_table.js")

  table#pi_table(class='display')

