extends layout

block content
  h1= title
  p Welcome to #{title}

  script(src="/javascripts/jquery.min.js")
  script(src="/javascripts/jquery.dataTables.min.js")
  
  script.
   $(document).ready(function() {  $('#pi_table').DataTable();  } );
  
  
  table#pi_table()
    thead
      tr
        th x
        th 0
        th 1
        th 2
        th 3
        th 4
        th 5
    tbody
      tr
        td 0
        td 1
        td 2
        td 3
        td 4
        td 5
        td 6
