extends layout

block content
  h1= title
  p Welcome to #{title}

  // re-style the header to left-align
  style table.dataTable thead th { text-align: left }
  
  script(src="/javascripts/jquery.min.js")
  script(src="/javascripts/jquery.dataTables.min.js")

  p From this page you can: -
    ul
      li Use the handy table of the first 1000 digits of pi 
        a(href='#pithou') below
      li Choose a specific starting point in pi (TODO but you can probably work it out!)
      li Scan CMU with an arbitrary digit sequence (TODO but you can probably work it out!)
      li Get more information 
        a(href='#moreinfo') below

  hr
  h2#pithou Pi Digits (up to 1000)
  
  //- here we take the pitab local unescaped...
  script.
    var pitab = !{pitab};

  script(src="/javascripts/format_the_pi_table.js")

  table#pi_table(class='display')

  hr
  h2#moreinfo
  //- here we have a nice show/hide README block - want to make it a modal dialog with jQuery-UI
  
  p#readme_md
    a Click here to show/hide the README

  div#readme_div(style={"display":"none"})
    include:markdown-it ../README.md

  script.
    $(document).ready(function() {  
        $('#readme_md').on( 'click', function () {
            console.log("CLICKED!");
            $('#readme_div').toggle();
        } );
    } );

  p For information about the Menmonic Major System, visit: -
    ul
      li
        a(href='http://mt.artofmemory.com/wiki/Major_System') Memory Techniques Wiki page
      li
        a(href='https://en.wikipedia.org/wiki/Mnemonic_major_system') Wikipedia entry
