extends layout

block content
  h1= title
  p Welcome to #{title}

  // re-style the header to left-align
  style table.dataTable thead th { text-align: left }
  
  p 
    For information about the Menmonic Major System, visit: -
    ul
      li
        a(href='http://mt.artofmemory.com/wiki/Major_System') Memory Techniques Wiki page
      li
        a(href='https://en.wikipedia.org/wiki/Mnemonic_major_system') Wikipedia entry

  hr
  h2 Pi Digits (the early ones!)
  
  script(src="/javascripts/jquery.min.js")
  script(src="/javascripts/jquery.dataTables.min.js")
  //- here we take the pitab local unescaped...
  script.
    var pitab = !{pitab};
  
  //- TODO turn each item into a link for Major CMU scan at /pi/<digits>

  script.
    $(document).ready(function() {
        $('#pi_table').DataTable( {
            data: pitab,
            ordering: false,
            pageLength: 20,
            columns: [{ title: "X" },{ title: "10" },{ title: "20." },{ title: "30" },{ title: "40" },{ title: "50" },],
        } );
    } );

  table#pi_table(class='display')

